@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?es3l1');
	src:url('../font/icomoon.eot?#iefixes3l1') format('embedded-opentype'),
		url('../font/icomoon.ttf?es3l1') format('truetype'),
		url('../font/icomoon.woff?es3l1') format('woff'),
		url('../font/icomoon.svg?es3l1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e9bd";
}
.icon-crz:before {
	content: "\e9da";
}
.icon-gp:before {
	content: "\ea88";
}
.icon-fb:before {
	content: "\ea8c";
}
.icon-tt:before {
	content: "\ea91";
}

a
{
	text-decoration: none;
}

body
{
	background-color: #F0F0F0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #FFF;
}

header
{
	background-color: #FFF;
	overflow: hidden;
	padding: 1em;

}

.menu ul
{
	margin: 0;
	padding: 0;
	float: right;
}
	.menu li
	{
		display: inline-block;
	}
	.menu li a
	{
		text-transform: uppercase;
		color: #929292;
		font-size: 1em;
		padding: 3em 1em;
	}
	.menu li a:hover
	{
		background-color: #2FC1C1;
		color: #FFF;
	}

h1
{
	color: #929292;
	float: left;
	font-size: 1em;
	font-weight: 300;
	margin: 0px;
	text-transform: uppercase;
}

h2
{
	color: #929292;
	font-size: 2em;
	font-weight: normal;
	margin: 0px;
	text-transform: uppercase;
}

nav
{
	float: right;
}

form
{
	overflow: hidden;
}
	.icon-menu
	{
		color: #2FC1C1;
		font-size: 1.5em;
	}

.trabajos
{
	margin: 0 auto;
	margin: 2em 1em 2em 1em;
	text-align: center;
}
	.trabajo
	{
		margin-top: 1em;
	}

	.trabajo img
	{
		width: 100%
	}

	.datos-trabajo
	{
		color: #FFF;
		font-size: 0px;
		margin-top: -4px;
		overflow: hidden;
		position: relative;
	}

		.datos-trabajo .nombre-trabajo
		{
			background-color: #2FC1C1;
			display: inline-block;
			left: 0;
			position: absolute;
			right: 60px;
		}
			.datos-trabajo .nombre-trabajo> p
			{
				font-size: 1rem;
				padding: .5em;
			}

		.datos-trabajo a
		{
			background-color: #F97068;
			color: #FFF;
			display: inline-block;
			float: right;
			font-size: 1rem;
			min-width: 28px;
			padding: .5em 1em;
		}
			.datos-trabajo a p
			{
				margin: 0px;
			}
			.datos-trabajo a span
			{
				font-size: 1.5rem;
			}
.about
{
	background-color: #2FC1C1;
	color: #FFF;
	padding: 2em 1em;
}
	.about h2
	{
		color: #FFF;
		text-align: center;
	}

.redes a
{
	color: #FFF;
	display: block;
	font-size: 2em;
	padding: .3em 0em;
	text-align: center;
}

	.redes .tt
	{
		background-color: #00E4FF;
	}

	.redes .fb
	{
		background-color: #464F6E;
	}

	.redes .gp
	{
		background-color: #D81B5F;
	}


.contacto
{
	padding: 0 1em;
	background-color: #F0F0F0;
	text-align: center;
}
	.contacto h2
	{
		margin: 1em 0em .5em 0em;
	}

	.contacto input
	{
		border: 0px;
		margin-bottom: 1em;
		padding: .5em 0em;
		width: 100%;
	}

	.contacto textarea
	{
		border: 0px;
		margin-bottom: 1em;
		width: 100%;
	}

	.contacto .botton
	{
		background-color: #464F6E;
		border-radius: 5px;
		color: #FFF;
		padding: 1em 0em;
	}

footer
{
	background-color: #2C2F42;
	color: #FFF;
	font-size: .8em;
	padding: .5em 0em;
	text-align: center;
}

.dnone
{
	display: none;
}

@media only screen and (min-width:568px){

	header
	{
		position: relative;
	}
	h1
	{
		font-size: 1.5em;
		display: inline-block;
		float: none;
		padding: 1em;
	}
	nav
	{
		display: inline-block;
		float: none;
		position: absolute;
		margin-top: .8em;
		padding-right: 1em;
		right: 0;
	}

	header
	{
		margin: 0;
		padding: 0;
	}

	.icon-menu
	{
		display: none;
	}
	.dnone
	{
		display: block;
	}

	main
	{
		max-width: 1024px;
		margin: 0 auto;
	}

	.trabajos
	{
		background-color: #F0F0F0;
		padding: 3em;
		margin: 0;
	}

	h2
	{
		text-align: left;
		font-size: 3em;
		margin-bottom: .5em;
		font-weight: 300;
	}

	.trabajo
	{
		font-size: 0;
		display: inline-block;
		margin-right: 4%;
		width: 30%;
	}

	.trabajo:last-child
	{
		margin-right: 0;
	}

	.about h2
	{
		text-align: left;
		font-weight: 300;
	}

	.about, .contacto
	{
		padding: 3em;
		margin: 0;
		font-weight: 300;
	}

	.about p
	{
		font-size: 1.4em;
	}

	.redes
	{
		margin: 0 auto;
	}
	.redes a
	{
		float: left;
		width: 33.33%;
	}

	.redes a span
	{
		font-size: 1em;
	}
	.contacto
	{
		background-color: #F0F0F0;
		text-align: right;
	}

	.contacto .botton
	{
	  background-color: #464F6E;
	  border-radius: 5px;
	  color: #FFF;
	  padding: 1em 2em;
	  font-size: 1.3em;
	  width: auto;
	}

}
