@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?es3l1');
	src:url('../font/icomoon.eot?#iefixes3l1') format('embedded-opentype'),
		url('../font/icomoon.ttf?es3l1') format('truetype'),
		url('../font/icomoon.woff?es3l1') format('woff'),
		url('../font/icomoon.svg?es3l1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e9bd";
}
.icon-crz:before {
	content: "\e9da";
}
.icon-gp:before {
	content: "\ea88";
}
.icon-fb:before {
	content: "\ea8c";
}
.icon-tt:before {
	content: "\ea91";
}
/* clases oocss */
.dnone
{
	display: none;
}
.fright
{
	float: right;
}
.fleft
{
	float: left;
}
.prelative
{
	position: relative;
}
.tmayusculas
{
	text-transform: uppercase;
}
.tacenter
{
	text-align: center;
}
.ofhiden
{
	overflow: hidden;
}
.smargin
{
	margin: 0;
}
.color_gris_oscuro
{
	color: #929292;
}
.bgcolor_gris_claro
{
	background-color: #F0F0F0;
}
.bgcolor_verde
{
	background-color: #2FC1C1;
}
.color_verde
{
	color: #2FC1C1;
}
.color_blanco
{
	color: #FFF;
}

.trabajos, .about, .contacto
{
	padding: 2em 1em;
}
h1, h2
{
	font-weight: 300;
}

a
{
	text-decoration: none;
}

body
{
	font-family: 'Roboto', sans-serif;
}

header
{
	max-width: 1024px;
	padding: 1em;
	overflow: hidden;
}
h1
{
	font-size: 1em;
}

.menu li
{
	display: inline-block;
}
.menu li a
{
	padding: 2em 1.5em;
}
.menu li a:hover
{
	background-color: #2FC1C1;
	color: #FFF;
}

h2
{
	font-size: 2em;
	margin:0em 0em .5em;
}

.icon-menu
{
	font-size: 1.5em;
}

.trabajo
{
	margin-bottom: 1em;
}
	.trabajo a
	{
		display: table;
	}
	.trabajo img
	{
		width: 100%
	}
	.datos-trabajo
	{
		top:-4px;
	}

		.datos-trabajo .nombre-trabajo
		{
			left: 0;
			position: absolute;
			right: 60px;
			top: 50%;
			transform: translateY(-50%);
		}
			.datos-trabajo .nombre-trabajo > p
			{
				font-size: 1rem;
			}

		.datos-trabajo a
		{
			background-color: #F97068;
			font-size: 1rem;
			min-width: 44px;
			padding: .7em .5em .5em;
		}
			.datos-trabajo a span
			{
				font-size: 1.5rem;
			}
.about
{
	font-weight: 300;
}

.redes
{
	display: table;
	width: 100%;
}
	.redes a
	{
		display: block;
		font-size: 2em;
		padding: .3em 0em .1em;
	}
	.redes .tt
	{
		background-color: #00E4FF;
	}

	.redes .fb
	{
		background-color: #464F6E;
	}

	.redes .gp
	{
		background-color: #D81B5F;
	}

	.contacto input
	{
		border: 0px;
		margin-bottom: 1em;
		padding: .5em 0em;
		width: 100%;
	}

	.contacto textarea
	{
		border: 0px;
		margin-bottom: 1em;
		width: 100%;
	}

	.contacto .botton
	{
		background-color: #464F6E;
		border-radius: 5px;
		padding: 1em 0em;
	}

footer
{
	background-color: #2C2F42;
	font-size: .8em;
	padding: .5em 0em;
}

@media only screen and (min-width:668px){

	.dinline_block_d
	{
		display: inline-block;
	}

	header
	{
		margin: 0 auto;
		overflow: hidden;
		max-width: 991px;
		height: 51px;
	}
	h1
	{
		font-size: 1.5em;
		padding: .5em 0 1em;
	}
	nav
	{
		position: absolute;
		margin-top: 1em;
		right: 0;
	}

	nav ul
	{
		margin: 0px;
	}

	.icon-menu
	{
		display: none;
	}
	.dnone
	{
		display: block;
	}

	main
	{
		max-width: 1024px;
		margin: 0 auto;
	}

	h2
	{
		text-align: left;
		font-size: 3rem;
		margin-bottom: .5em;
		font-weight: 300;
	}

	.datos-trabajo
	{
		top: 0px;
	}

	.trabajos
	{
		font-size: 0px;
		padding: 3rem;
	}

	.trabajo
	{
		margin-right: 5%;
		width: 30%;
	}

	.trabajo:last-child
	{
		margin-right: 0;
	}
	.about h2
	{
		text-align: left;
	}
	.about, .contacto
	{
		padding: 3em;
	}
	.about p
	{
		font-size: 1.4em;
	}
	.redes
	{
		margin: 0 auto;
	}
	.redes a
	{
		float: left;
		width: 33.33%;
	}
	.redes a span
	{
		font-size: 1em;
	}
	.contacto
	{
		text-align: right;
	}
	.contacto .botton
	{
	  padding: 1rem 2.5rem;
	  font-size: 1.3rem;
	  width: auto;
		margin: 0px;
	}
}
